html{
    overflow: hidden;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.viewport {
    height: 100vh;
}

h1{
    padding-top: 30px;
    font-family: arial;
    color: rgb(8, 10, 105);
}

.display{
    display: flex;
    justify-content: center;
}

.left-side{
    margin-right: 16px;
}

#message{
    margin-top: -18px;
    text-align: center;
    color: rgb(255,0,0);
    font-size: 16px;
}

.text-center h1{
    font-weight: bold;
}

.balance{
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    width: 714px;
    height: 150px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
    background-color: rgb(134,222,255);
}

.balance h3{
    text-align: center;
    font-family: arial;
    font-size: 20px;
}

.weekly_pickup h3{
    font-size: 20px;
}

.weekly_pickup{
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    width: 714px;
    height: 150px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
}

.start_end_date{
    width: 714px;
    height: 316px;
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
    background-color: rgb(132,245,180);
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 682px;
    color: grey;
}

.start_date{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 20px;
}

.end_date{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 20px;
}

.start_date_display{
   margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 20px;
}

.end_date_display{
   margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: arial;
    font-size: 20px;
}

#confirm{
    width: 222px;
    height: 55px;
    position: relative;
    right: 122px;
    border-radius: 8px;
    background-color: rgb(8, 10, 105);
    color: white;
    font-size: 20px;
    font-family: arial;
}

#display_start_date{
    font-size: 1.25rem;
    font-family: arial;
}

#display_end_date{
    font-size: 1.25rem;
    font-family: arial;
}

.right-side-display{
    width: 714px;
    height: 316px;
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
    background-color: rgb(132,245,180);
}
#transparent{
    margin-top: -18px;
    text-align: center;
    color: transparent;
    font-size: 16px;
}

.display-bottom{
    display: flex;
    flex-direction: column;
}

.weekly-pickup{
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    height:150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
}

.one-time-request{
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    height:150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
}

#confirm-one-time{
    width: 222px;
    height: 55px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: rgb(8, 10, 105);
    color: white;
    font-size: 20px;
    font-family: arial;
}

#label-one-time{
  font-size: 20px;
}

#schedule-day{
    width: 222px;
    height: 40px;
}

#schedule-message{
    display: flex;
    justify-content: center;
}

.one-time{
    border: 1px solid rgb(237,237,237);
    border-radius: 8px;
    height:150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    box-shadow: 4px 4px 10px rgb(222, 222, 222);
}

.change-day-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(40,40,40);
    height: 100vh;
}

.right-display-change{
    display: flex;
    flex-direction: column;
}

.right-display-change p{
    font-family: arial;
    margin-top: 10px;
}

.form-border{
    border: 2px solid rgb(237,237,237);
    border-radius: 5px;
    box-shadow: 6px 10px 10px rgb(200, 222, 255);
    padding: 50px;
}

.hr-form{
    width: 500px;
}

#change-day-message{
    font-family: arial;
    font-weight: bold;
}

.one-time-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(40,40,40);
    height: 100vh;
}

.right-display-one{
    display: flex;
    flex-direction: column;
}

.right-display-one p{
font-family: arial;
    margin-top: 10px;
}

.one-time-border{
    border: 2px solid rgb(237,237,237);
    border-radius: 5px;
    box-shadow: 6px 10px 10px rgb(200, 222, 255);
    padding: 50px;
}

#change-one-time-message{
    display: flex;
    justify-content: center;
    font-family: arial;
    font-weight: bold;
}

.one-time-input{
    margin-right: auto;
    margin-left: auto;
}

.input-one-time{
    display: flex;
    justify-content: center;
}