nav{
    background-color: rgb(8, 10, 105);
}

.navbar{
    position:fixed;
    z-index:1;
    top: 0;
    width: 100%;
}

ul li{
    margin-right: 20px;
    text-transform: uppercase;
}

ul li a{
    display: block;
    color: white
}

ul li a:hover{
    text-decoration: none;
    color: gold;
}

.logo h3{
    font-weight: bold;
    font-family: arial;
    color: white;
}
