{% extends 'base.html'  %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/change_pickup.css' %}">
{% endblock %}

{% block title %} {{customer.name}} | Change Pickup {% endblock %}

{% block anchors %}
<li><a href="{% url 'customers:customer_profile' customer.id %}">Account Info</a></li>
    <li><a href="{% url 'customers:change_pickup' customer.id %}">Change Pick-up Day</a></li>
    <li><a href="{% url 'customers:suspend_account' customer.id %}">Suspend Account</a></li>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="change-forms">
    <div class="change-weekly">
        <form action="{% url 'customers:update_weekly_pickup' customer.id %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <p id="schedule-message" class="text-center">Update your weekly service day</p>
                <div class="d-flex flex-row">
                    <select id="update_weekly_pickup" name="update_weekly_pickup" class="form-control">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                    </select>
                    <input class="btn btn-sm btn-primary mx-2" id="schedule-day" type="submit" value="schedule">
                </div>
            </div>
        </form>
    </div>
    <div class="change-one-time">
        <form action="{% url 'customers:one_time_pickup' customer.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="one_time_pickup">update one time pickup</label>
                <input class="form-control col-10" type="date" id="one_time_pickup" name="one_time_pickup">
                <br>
                <input id="confirm-one-time" type="submit" value="confirm">
            </div>
        </form>
    </div>
</div>

{% endblock %}