{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/customer_profile.css' %}">
{% endblock %}

{% block title %} {{customer.name}} | Trash_collector {% endblock %}

{% block anchors %}
<li><a href="{% url 'customers:customer_profile' customer.id %}">Account Info</a></li>
{% if customer.weekly_pickup != None %}
<li><a href="#change-day-form">Change Weekly Pickup</a></li>
{% endif %}
{% if customer.one_time_pickup != None %}
<li><a href="#one-time-form">Change One-Time Pickup</a></li>
{% endif %}
<li><a href="{% url 'customers:suspend_account' customer.id %}">Suspend Account</a></li>
<li><a href="{% url 'logout' %}">Log Out</a></li>
{% endblock %}

{% block header %}
<div class="text-center my-5">
    <h1>Welcome {{customer.name}}</h1>
</div>
    {% if customer.start_date == None or customer.end_date == None %}
    <p id="message">YOU WILL NEED A START AND END DATE IN ORDER TO SCHEDULE YOUR WEEKLY TRASH PICKUPS</p>
    {% elif customer.start_date != None and customer.end_date != None %}
    <p id="transparent">transparent</p>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="viewport">
    <div class="display my-2">
        <div class="left-side">
            <div class="balance">
                <h3>BALANCE: ${{customer.balance}}</h3>
            </div>
            <div class="weekly_pickup">
                <h3>WEEKLY PICKUP: {{customer.weekly_pickup}}</h3>
            </div>
        </div>
        <div class="right-side">
            {% if customer.start_date == None or customer.end_date == None %}
            <form action="{% url 'customers:account_period' customer.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="start_end_date">
                        <div class="start_date">
                            <label for="start_date" class="mx-3">START DATE:</label>
                            <input class="form-control col-5" type="date" id="start_date" name="start_date">
                        </div>
                        <hr>
                        <div class="end_date">
                            <label for="end_date" class="mx-3">END DATE:</label>
                            <input class="form-control col-5" type="date" id="end_date" name="end_date">
                        </div>
                    </div>
                </div>
                <br>
                <div class="confirm">
                    <input id="confirm" type="submit" value="CONFIRM">
                </div>
            </form>
        </div>
        {% elif customer.start_date != None and customer.end_date != None %}
        <div class="right-side-display">
            <div class="start_date_display">
                <h3 id="display_start_date">START DATE: {{customer.start_date}}</h3>
            </div>
            <hr>
            <div class="end_date_display">
                <h3 id="display_end_date">END DATE: {{customer.end_date}}</h3>
            </div>
        </div>
    </div>
    </div>
        {% endif %}
    <div class="display-bottom">
        {% if customer.start_date != None and customer.end_date != None and customer.weekly_pickup == None %}
        <div class="weekly-pickup">
            <form action="{% url 'customers:update_weekly_pickup' customer.id %}" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <p id="schedule-message" class="text-center">Schedule a weekly pick up day to start your service</p>
                    <div class="d-flex flex-row">
                        <select id="update_weekly_pickup" name="update_weekly_pickup" class="form-control">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                        <input class="btn btn-sm btn-primary mx-2" id="schedule-day" type="submit" value="schedule">
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        {% if customer.start_date != None and customer.end_date != None and customer.weekly_pickup != None and customer.one_time_pickup == None%}
        <div class="one-time-request">
            <form action="{% url 'customers:one_time_pickup' customer.id %}" method="post">
                {% csrf_token %}
                <div class="form-group d-flex flex-row one-time-group">
                    <p id="label-one-time">Would you like an extra one time pickup?</p>
                    <input class="form-control col-5" type="date" id="one_time_pickup" name="one_time_pickup">
                    <input id="confirm-one-time" type="submit" value="confirm">
                </div>
            </form>
        </div>
        {% elif customer.one_time_pickup != None %}
        <div class="one-time">
            <h3>Your one time pickup is scheduled on: {{customer.one_time_pickup}}</h3>
        </div>
        {% endif %}
    </div>
    </div>
{% if customer.weekly_pickup != None %}
    <div class="change-day-form" id="change-day-form">
        <div class="form-border">
            <h1 class="text-center">Change weekly pickup day</h1>
            <hr class="hr-form">
              <div class="right-display-change my-5">
                  <h2><b>Customer Name:</b> {{customer.name}}</h2>
                  <p class="my-4"><b>Address:</b> {{customer.address}}</p>
                  <p><b>Zip Code:</b> {{customer.zipcode}}</p>
                  <p><b>Current Weekly Pickup Day:</b> {{customer.weekly_pickup}}</p>
                </div>
                <div class="left-side-change">
                    <form action="{% url 'customers:update_weekly_pickup' customer.id %}" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <p id="change-day-message" class="text-center">Choose a day most convenient for you!</p>
                            <div class="d-flex flex-row">
                                <select name="update_weekly_pickup" class="form-control">
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                </select>
                                <input class="btn btn-sm btn-primary mx-2" id="change-day" type="submit" value="schedule">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="one-time-form" id="one-time-form">
        <div class="one-time-border">
            <h1 class="text-center">Change One Time Pickup Day</h1>
            <hr class="hr-form">
            <div class="right-display-one my-5">
                  <h2><b>Customer Name:</b> {{customer.name}}</h2>
                  <p class="my-4"><b>Address:</b> {{customer.address}}</p>
                  <p><b>Zip Code:</b> {{customer.zipcode}}</p>
                  <p><b>Current One-Time Pickup Day:</b> {{customer.one_time_pickup}}</p>
            </div>
            <div class="left-change-one">
                <form action="{% url 'customers:one_time_pickup' customer.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="one-time-group">
                            <label for="one_time_pickup" id="change-one-time-message">Would you like an extra one time pickup?</label>
                            <input class="form-control col-5 one-time-input my-3" type="date" name="one_time_pickup">
                            <div class="input-one-time">
                                <input id="confirm-change-one-time" type="submit" value="confirm" class="btn btn-sm btn-success my-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}