{% extends 'base.html' %}

{% block title %} {{customer.name}} | Trash_collector {% endblock %}

{% block anchors %}
    <li><a href="{% url 'customers:customer_profile' customer.id %}">Account Info</a></li>
    <li><a href="{% url 'customers:change_pickup' customer.id %}">Change Pick-up Day</a></li>
    <li><a href="">Suspend Account</a></li>
{% endblock %}

{% block content %}
    <h1>Welcome {{customer.name}}</h1>
    <h3>Balance: {{customer.balance}}</h3>
    <h3>Weekly Pickup: {{customer.weekly_pickup}}</h3>
    <h3>Start Date: {{customer.start_date}}</h3>
    <h3>End Date: {{customer.end_date}}</h3>
    <h3>One-Time Pickup: {{customer.one_time_pickup}}</h3>
{% endblock %}
