{% extends 'base.html' %}

{% block content %}
<form action="{% url 'customers:create' %}" method="post">
    {% csrf_token %}
    <div class="form-group center">
        name:<input class="form-control form-control-sm col-sm-4" type="text" name="name" id="name"><br>
        address:<input class="form-control form-control-sm col-sm-4" type="text" name="address" id="address"><br>
        zipcode:<input class="form-control form-control-sm col-sm-4" type="text" name="zipcode" id="zipcode"><br>
    </div>
    <input type="submit" value="sign up">
</form>
{% endblock %}
